<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Confirmação de Mérito</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css/style2.css">
</head>
<body>
        <!-- Cabeçalho -->
        <header>
            <h1>Ministério do Esporte</h1>
            <img src="img/Imagem1.png" alt="IMG1" width="10%">
        </header>

    <div class="container">
        <h1>Formulário Enviado com Sucesso!</h1>
        <p>Obrigado por enviar o formulário. Clique no botão abaixo para baixar o documento gerado:</p>

        <a href="/gerar-documento" class="button">Baixar Documento</a>

        <h2>Histórico de Formulários Enviados:</h2>
        <!-- Aqui o histórico será inserido dinamicamente -->
        <!-- HistoricoFormulario -->
    </div>

    <footer>
        &copy; 2024 Entidade MESP. Todos os direitos reservados.
    </footer>
</body>
</html>