<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerar Atestado de Capacidade Técnica</title>
    <!-- Link para o arquivo CSS externo -->
    <link rel="stylesheet" href="style.css/style.css">
</head>
<body>

    <!-- Cabeçalho -->
    <header>
        <h1>Ministério do Esporte</h1>
        <img src="img/Imagem1.png" alt="IMG1" width="10%">
    </header>

    <div class="container">
        <h2>Opções de Ajuste</h2>
    
        <!-- Adicionar três checkboxes para alterar o comportamento -->

    
        <h2>Dados Gerais</h2>
        <form id="declaracoesForm">
            <label for="numDirigentes">Informe o número de dirigentes:</label>
            <input type="number" id="numDirigentes" name="numDirigentes" min="1" max="10">
            <button type="button" onclick="gerarCampos()">Gerar Campos</button>
        </form>
    
        <form id="dirigentesForm">
            <div id="camposDirigentes"></div>
        </form>
    
        <div class="container1">
            <button id="botaoGerarPDF" onclick="gerarPDF()">Gerar PDF Art 26/27</button>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Ministério do Esporte</p>
    </footer>

    <!-- Links para as bibliotecas PDFMake -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>

    <script src="Config.js/script2.js"></script>

</body>
</html>