<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="style.css/style.css">
</head>
<body>

    <!-- Cabeçalho -->
    <header>
        <h1>Ministério do Esporte</h1>
        <img src="img/Imagem1.png" alt="IMG1" width="10%">
    </header>

    <div class="container">
        <div class="option-container">
            <h1>Selecione a Opção</h1>
            <p>Escolha entre Termo de Fomento ou Convênio para prosseguir.</p>

            <!-- Botões para escolher entre Termo de Fomento ou Convênio -->
            <a href="Documentações.html" class="btn">OSC/Sociedade Civil</a>
            <a href="Formulario_convênio.html" class="btn">Entidades Publicas</a>
        </div>
        <div class="option-container">
            <h1>Acompanhamento</h1>
            <p>Aba para Formulário do RELMA</p>

            <!-- Botões para escolher entre Termo de Fomento ou Convênio -->
            <a href="Formulário_Relma.html" class="btn">Ficha Relmas</a>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Ministério do Esporte</p>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const botaoGerarPDF = document.getElementById('botaoGerarPDF');
            const loadingMessage = document.getElementById('loadingMessage');

            if (botaoGerarPDF) {
                botaoGerarPDF.addEventListener('click', function (e) {
                    e.preventDefault();
                    if (loadingMessage) loadingMessage.style.display = 'block';

                    generateAllInOnePDF().then(() => {
                        if (loadingMessage) loadingMessage.style.display = 'none';
                    }).catch((error) => {
                        alert("Erro ao gerar PDF.");
                        console.error(error);
                        if (loadingMessage) loadingMessage.style.display = 'none';
                    });
                });
            }

            // Simulação da função de geração de PDF
            async function generateAllInOnePDF() {
                return new Promise((resolve) => setTimeout(resolve, 2000));
            }
        });
    </script>
</body>
</html>