body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Estilo do cabeçalho */
header {
    background-color: #005CAA;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

header h1 {
    margin-left: 4%;
    font-size: 24px;
}

/* Estilo do formulário */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;  /* Reduzido para não ocupar 100% da tela */
    background-color: #ffffff;
    padding: 10px;     /* Reduzido para minimizar espaçamento */
    box-sizing: border-box;
}
.option-container {
    background-color: rgb(238, 238, 238);
    padding: 30px;
    border-radius: 8px;
    width: 50%;
    margin: 20px;
    grid-template-columns: repeat(1, 1fr); /* Dividido em 3 colunas */
    gap: 20px; /* Espaçamento entre os itens */
}

.btn {
    width: 1%;
    padding: 3px;  /* Reduzido para deixar o botão menor */
    background-color: #005CAA;
    color: rgb(247, 247, 247);
    border: none;
    border-radius: 1px;
    font-size: 14px;  /* Tamanho da fonte reduzido */
    cursor: pointer;
    text-decoration: none;
}

hr {
    width: 100%;
    border: 0;
    height: 2px;
    background-color: #000;
    margin: 0;
    margin-left: -1%;
}

.declaracoesForm {
    padding: 10%;
    margin: 5%;
}

form {
    background-color: rgb(231, 229, 229);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Correção */
    gap: 20px;
}

form label {
    display: block;
    margin-bottom: 5px; /* Reduzido o espaçamento entre label e input */
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 6px;       /* Reduzido o padding dos campos */
    margin-bottom: 10px; /* Reduzido o espaçamento entre campos */
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    width: 100%;
    padding: 6px;       /* Reduzido o padding do botão */
    background-color: #005CAA;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #00408B;
}

/* Estilo do rodapé */
footer {
    background-color: #005CAA;
    color: white;
    text-align: center;
    padding: 5px 0; /* Reduzido o padding do rodapé */
    position: relative;
    width: 100%;
    bottom: 0;
}

/* Estilo responsivo para telas menores */
@media (max-width: 600px) {
    form {
        padding: 10px;
        width: 100%;
    }
}

/* Estilo para expandir o formulário em telas maiores que 1200px */
@media (min-width: 1000px) {
    form {
        max-width: 60%;
        display: grid; /* Adiciona o display grid */
        grid-template-columns:repeat(3fr 1fr); /* Define duas colunas de tamanho igual */
        padding: 20px;
    }
}

@media (max-width: 999px) {
    form {
        display: block; /* Altera para bloco em telas menores */
        padding: 10px; /* Ajusta o padding, se necessário */
    }
}

@media (max-width: 999px) {
    .option-container {
        display: block; /* Altera para bloco em telas menores */
        padding: 10px;
        max-width: 100%; /* Ajusta o padding, se necessário */
    }
    h1 {
        display: inline;
    }

    .btn {
        padding: 10px;
        left: 30px;
        width: 10%; /* Largura específica */
        height: 25%; /* Altura específica */
    }
}

@media (min-width: 1000px) {
    .option-container {
        max-width: 60%;
        display: grid; /* Adiciona o display grid */
        grid-template-columns:repeat(3fr 1fr); /* Define duas colunas de tamanho igual */
        padding: 20px;
    }

    .btn {
        display: inline-block;
        left: 50px;
        width: 50px; /* Largura específica */
        height: 30px; /* Altura específica */
    }
}